@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Ma Pizza Mama App</title>
</head>
<body class="home-page">
    <div class="centered">
        <img src="css/images/main_logo.png"/>
        <a class="home-page" asp-page="MenuPizzas">Voir le menu</a>
    </div>
</body>
</html>
